extends layout

block content
	div.page-container
		div.page-content
			div.container-fluid
				div.row-fluid
					div.span12
						h3.page-title Dashboard  
							small Openstack监控与资源管理系统
						ul.breadcrumb
							li
								i.icon-home
								a(href="#")  Home